*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgba(63, 63, 63, 0.18);
}

#titlebar{
    width: 100%;
    min-width: 640px;
    height: auto;

}
#topbar{
    width: auto;
    min-width: 640px;
    height: 35px;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#exchange{
    margin: auto;
    margin-left: 100px;
    float: left;
    color: #838383;
}
#topul{
    margin: auto 0;
    margin-right: 30px;
    float: right;
}
#topbar ul li {
    list-style-type: none;
    display: inline;
}

#navbar ul li {
    list-style-type: none;
    display: inline;
}

#logobar{
    width: auto;
    padding: 20px 0;
    align-items: center;
    min-width: 640px;
    height: 90px;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    margin-left: 50px;
    width: 50px;
    height: 50px;
    background-color: red;
}
#searchdiv{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#searchbox{
    width: 300px;
    height: 38px;

}
#searchbtn{
    width: 30px;
    height: 30px;
}
#logobarAd{
    width: 125px;
    height: 50px;
    background-color: aqua;
    margin-right: 50px;
}
#navbar{
    width: auto;
    height: 55px;
    background: linear-gradient(180deg, #0a0a0a 50%, rgba(0, 0, 0, 0));
    padding: 17px 0;
    text-align: center;
    z-index: 900;
}
#navbar.fixed{position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
}
.navbtn{
    margin-left: 20px;
}
.navbtn a{
    color: #3a3a3a;
    text-decoration: none;
}
#mainslide{
    width: 100%;
    height: 600px;

}
#fixbutton{
    width: 50px;
    height: 100px;
    right: 0%;
    bottom: 0%;
    position: fixed;
}
#fixbutton div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    z-index: 899;
}
.subpage{
    width: 100%;
    height: 800px;
}
/*메인슬라이드 부분---------------------------------------------------*/
#mainadd{
    position: absolute;
    width: 100%;
    height: 600px;
    padding-left: 160px;
}
#carouselExampleInterval{
    height: 100%;
}

/*---------------------------------------------------------------------*/

/*메인사이드바--------------------------------------------------------*/
#inner{
    position: absolute;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
}
#sidebar{
    height: 600px;
    width: 160px;
    /*max-width: 160px;*/
    background-color: #0a0a0a;
    z-index: 800;


}

#sidecategory{
    height: 600px;
    background-color: #d98d8d;
    flex-grow: 1;
    display: none;
}

ul{
    padding-left: 0;
}

#sidebar ul li{
    height: 40px;
    min-width: 160px;
    max-width: 160px;
    list-style: none;
}
#sidebar ul li a{
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #3a3a3a;
    vertical-align: center;

}

#sidebar:hover{
    width: 100%;
    display: block;
    transition: 1s ease-out;

}
#sidebar:hover #sidecategory{
    display: block;

}

#sidebar:not(:hover) {
    transition: 1s ease-out;
}

/*---------------------------------------------------------------------*/
#slide{
    z-index: 0;
}


/*랭킹 css--------------------------------------------------------------*/
.card{
    width: 200px;
    max-width: 200px;
}
.slider {
    width: 80%;
    margin: auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}