*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgba(63, 63, 63, 0.18);
    min-width: 930px;
}

#titlebar{
    width: 100%;
    min-width: 640px;
    height: auto;

}
#topbar{
    width: auto;
    min-width: 640px;
    height: 39px;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgba(117, 117, 117, 0.71);
}
#exchange{
    margin: auto;
    margin-left: 100px;
    float: left;
    color: #838383;
    font-size: 10px;
}
.topul{
    margin: auto 0;
    margin-right: 30px;
    float: right;
}

.topul li a{
    color: #cccccc;
    text-decoration: none;
    font-size: 10px;
}
.topul li a:hover{
    text-decoration: none;
    font-size: 10px;
    font-weight: 900;
    color: white;
}

#topbar ul li {
    list-style-type: none;
    display: inline;
}


#navbar ul li {
    list-style-type: none;
    display: inline;

}

#logobar{
    width: auto;
    padding: 20px 0;
    align-items: center;
    min-width: 640px;
    height: 90px;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo{
    margin-left: 50px;
    width: 50px;
    height: 50px;
}
#searchdiv{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
}
#searchbox{
    width: 300px;
    height: 38px;

}
#search-btn{
    width: 38px;
    height: 38px;
}
#logobarAd{
    width: 230px;
    height: 70px;
    background-color: aqua;
    margin-right: 50px;
}
#navbar{
    width: auto;
    height: 55px;
    background: linear-gradient(180deg, #0a0a0a 50%, rgba(10, 10, 10, 0.73));
    padding: 17px 0;
    text-align: center;
    z-index: 900;
}
#navbar.fixed{
    position: fixed;
    padding: 25px 0;
    height: 70px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
}
#navbar .logo,#navbar .topul{
    display: none;
}
#navbar.fixed .logo{
    position: absolute;
    top:10px;
    left:60px;
    display: block;
}
#navbar.fixed .topul{
    position: absolute;
    top:20px;
    right:60px;
    display: block;
}

.category-list{
    display: none;
}



.navbtn{
    margin-left: 20px;
}
.navbtn a{
    color: #cccccc;
    text-decoration: none;
}
.navbtn a:hover{
    text-decoration: none;
    font-weight: 900;
    color: white;
}

#mainslide{
    width: 100%;
    height: 500px;

}
#fixbutton{
    width: 70px;
    height: 140px;
    right: 0%;
    bottom: 0%;
    position: fixed;
}
#fixbutton div{
    width: 70px;
    height: 70px;
    background-color: yellow;
    z-index: 899;
}
.subpage{
    padding-top: 50px;
    width: 100%;
    min-width: 950px;
    height: 800px;
    text-align: center;
}
h1{
    margin: 70px auto;
}
/*메인슬라이드 부분---------------------------------------------------*/
#mainadd{
    position: absolute;
    width: 100%;
    height: 500px;
    padding-left: 160px;
    overflow: hidden;

}
#mainadd img{
    height: 500px;
    width: 1280px;
    object-fit: none;
    transform: scale(1.4);
}
.fade{
    z-index: 500;


}
.fade:not(.show) {
    opacity: 1;
}
#carouselExampleInterval{
    height: 100%;
}

/*---------------------------------------------------------------------*/

/*메인사이드바--------------------------------------------------------*/
#inner{
    position: absolute;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}
#sidebar{
    height: 500px;
    width: 160px;
    background-color: rgba(10, 10, 10, 0.62);
    z-index: 800;
}

#sidecategory{
    height: 500px;
    background-color: #d98d8d;
    flex-grow: 1;
    display: none;
}

ul{
    padding-left: 0;
}

#sidebar .main-category li{
    height: 40px;
    min-width: 160px;
    max-width: 160px;
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
}

#sidebar ul li a{
    text-decoration: none;
    color: #cccccc;
    vertical-align: center;

}
#sidebar ul li a:hover{

    font-weight: 900;
    color: white;
}




/*---------------------------------------------------------------------*/
#slide{
    z-index: 0;
}


/*랭킹 css--------------------------------------------------------------*/
.card{
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 450px;
    min-height: 450px;
}
.card img{
    max-width: 248px;
    min-width: 248px;
    height: 248px;
}
.slider {
    width: 80%;
    margin: auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-current {
    opacity: 1;
}