.category-nav {
    margin: 0 auto;
    max-width: 1300px;
    min-width: 930px;
    padding: 20px 50px 0;
}
.navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-item {
    margin: 0 10px;
}

.home {
    color: black;

}
.home-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    margin-bottom: 2px;
}

.home-container {
    position: relative;
    right: 10px;
}
.arrow-right-icon {
    width: 13px;
    height: 14px;
    margin-right: 4px;
    margin-bottom: 3px;
}

/*회원가입 크기*/
#join_form {
    width: 460px;
}
/*회원가입 Title*/
.jointit {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    margin: 10px;
}

/*이름 및 성별*/
.groupC{
    display: flex;
    justify-content: space-between;
}

/*경고창*/
#join_form div > span{
    display: block;
    margin: -6px 110px -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}
#join_form > span{
    display: block;
    margin: -6px 110px -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}


.join-wrapper{
    margin: auto;
    width: 520px;
    height: 350px;
    padding: 50px;
    box-sizing: border-box;
}

#join_form > div {
    padding-bottom: 10px;
}
.id_box > label{
    padding-right: 60px;
}
.id_box >  input {
    width: 353px;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#join_form div > input[type = password]{
    width: 353px;
    padding: 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #F8F8F8;
}

.pass_box > label {
    padding-right: 46px;
}

.name_box > label {
    width: 353px;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #F8F8F8;
}
.bir_wrap > label {
    padding-right: 47px;
}

#join_form div > input{
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 14px;
    background-color: #F8F8F8;
    padding: 10px 74px 10px;
}


.gender_select input[type=radio]{
    display: none;
}
.gender_select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    width: 50px;
    border: 2px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    border-radius: 8px;
}
.gender_select input[type=radio]+label{
    background-color: #fff;
    color: #333;
    height: 40px;
    padding-top: 5px;
    font-size: medium;
}
.gender_select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
#join_form > input[type="submit"]{
    width: 100%;
    color: #fff;
    font-size: 16px;
    background-color: #000000;
    margin-top: 20px;
    border-radius: 6px;
    padding: 10px 0 10px;
    border-color: black;
    border-style: solid;
}
#join_form > input[type="submit"]:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.bir_wrap > input{
    width: 353px;
    padding: 10px 0 10px;
}
.user_email > label{
    padding-right: 60px;
}
.user_email > input{
    width: 353px;
}
