<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--   슬라이더  -->
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <!--체크박스 !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <!--    셀렉트박스 시작  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/feastSelect.css" th:href="@{/css/feastSelect.css}">
    <!-- Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <!-- Required stuff -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="../static/css/tranquil-heart.min.css" th:href="@{/css/tranquil-heart.min.css}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script src="../js/feastSelect.js" th:src="@{/js/feastSelect.js}"></script>
    <!--    셀렉트박스 끝  -->
    <script src="../static/js/detail.js" th:src="@{/js/detail.js}"></script>
    <link rel="stylesheet" href="../static/css/detail.css" th:href="@{/css/detail.css}">
    <title>상품 상세 페이지</title>
</head>
<body>
<h1>상품 상세 페이지</h1>
<!-- 네비게이션 영역 시작(추후 include태그로 수정) -->
<a href="/login">로그인페이지로 이동</a>
<a href="/mypage">마이페이지 - 관심상품으로 이동</a>
<!--<%&#45;&#45;네비게이션 영역 끝&#45;&#45;%>-->

<!-- 상품 분류 페이지 이동 영역 시작 -->
<div class="flex-row-container">
    <a href="/main-category">대분류페이지로 이동</a>
    <a href="/middle-category">중분류페이지로 이동</a>
    <a href="/sub-category">소분류페이지로 이동</a>
</div>
<!-- 상품 분류 페이지 이동 영역 끝 -->
<!-- 상품 상세 영역 시작 -->
<div class="product-detail-container">
    <!--  카테고리 내비게이터 시작 -->
    <input type="hidden" id="mainname" th:value="${mainname}"></input>
    <input type="hidden" id="mid_name" th:value="${mid_name}"></input>
    <input type="hidden" id="main_no" th:value="${main_no}">

    <div class="navigator category-nav" id="category">
        <div class="home-container nav-item">
            <img class="home-icon" src="../static/img/home-icon.png" th:src="@{/img/home-icon.png}"/>
            <a href="/" class="home">홈</a>
        </div>
        <img class="arrow-right-icon" src="../static/img/noun-arrow-right.png" th:src="@{/img/noun-arrow-right.png}"/>
        <div class="form-group nav-item">
            <select id="main-selects" class="form-control example2 main-category" name="example-2" th:value="main">
                <option th:each="mainVO : ${mainList}" th:value="${mainVO.main_no}" th:utext="${mainVO.main_name}">
                </option>
            </select>
        </div>
        <img class="arrow-right-icon" src="../static/img/noun-arrow-right.png" th:src="@{/img/noun-arrow-right.png}"/>
        <div class="form-group nav-item">
            <select id="middle-selects" class="form-control example2 middle-category" name="example-2">
                <option th:each="middleL : ${middleList}" th:value="${middleL.mid_cate_no}"
                        th:utext="${middleL.mid_name}"></option>
            </select>
        </div>
    </div>
    <!--  카테고리 내비게이터 끝 -->
    <div class="product-name flex-row-container">
        <div class="flex-col-container">
            <div class="brand" th:text="${product.brand_name}">펜디 FENDI</div>
            <div class="name" th:text="${product.pd_name}">NEW QUADRO 뉴 콰드로</div>
        </div>
        <button class="e1gbu2jd0 css-1ye82b0 e10q62zt1" type="button">
            <svg class="css-abvsl5 e1gbu2jd1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                <path d="M9 6.088C9 3.831 10.791 2 13 2s4 1.83 4 4.088c0 1.743-1.46 3.23-1.46 3.23L9 16 2.46 9.318S1 7.83 1 6.088C1 3.831 2.791 2 5 2s4 1.83 4 4.088z"
                      fill="#ffffff" fill-rule="evenodd" stroke="#5d5d5d" stroke-width="0.7"></path>
            </svg>
            <span class="css-go3bbb e1gbu2jd2">16822<!-- 찜하기 숫자 --></span>
        </button>
    </div>
    <div class="flex-row-container product-area" id="edd">
        <div class="slider photo-area">
            <div th:each="photo : ${productPhotoList}">
                <img src="../static/img/test1.jpeg" th:src="${photo.pdphoto_link}">
            </div>
        </div>
        <div class="info-area" th:with="dollar=1420">
            <div class="duty-free-shop">
                <div>정가</div>
                <div>
                    <span th:text="'$' + ${product.pd_price}">$1,165</span>
                    <span class="won" th:text="${dollar * product.pd_price} + '원'"></span>
                </div>
            </div>
            <div class="duty-free-shop">
                <div>최저가</div>
                <div>
                    <span>$0,000</span>
                    <span class="won" th:text="${dollar * product.pd_price} + '원'"></span>
                </div>
            </div>
            <div th:each="price : ${priceList}">
                <div class="duty-free-shop" >
                    <div th:text="${price.dfs_name}">롯데면세점</div>
                    <div>
                        <span class="sale-percent" th:text="${price.sale_percent}+'%'">50%</span>
                        $<span class="final-price" th:text="${price.total_price}">1048.5</span>
                        <span class="won" th:text="${dollar * price.total_price} + '원'"></span>
                        <span class="toggle-btn" th:id="'toggle' + ${price.dfs_no}">
                        <svg class="ep8sdhl8 css-plf4nv e1tthaaa0" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 28 16"><g fill="none" fill-rule="evenodd" stroke="#a0a0a0" stroke-width="3"><path
                                d="M28 1L13.97 15 0 1.058"></path></g></svg>
                    </span>
                    </div>
                </div>
                <!--  쿠폰 영역 -->
                <div class="coupons" th:id="'coupon' + ${price.dfs_no}">
                    <div th:if="${#lists.isEmpty(price.coupon_list)}">적용할 수 있는 쿠폰이 없습니다.</div>
                    <div class="coupon-container" th:each="coupon : ${price.coupon_list}" >

                        <div class="coupon-name" th:text="${coupon.cp_name}">쿠폰이름</div>
                        <div class="pretty p-svg p-plain">
                            <input type="checkbox" class="ck-discount"/>
                            <div class="state">
                                <img class="svg"
                                     src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                                <label class="coupon-price" th:text="${coupon.discount_amt}">100</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  쿠폰 영역 끝 -->
            </div>
        </div>
    </div>
    <div class="product-detail-area">
        <div class="product-detail-title">상세설명</div>
        <div>
            <table class="product-detail-table" th:utext="${product.pd_more}">
                <tr>
                    <td>소재/순도/밴드재질(시계)</td>
                    <td>Nato</td>
                </tr>
                <tr>
                    <td>중량</td>
                    <td>22g</td>
                </tr>
                <tr>
                    <td>구성품</td>
                    <td>WATCH</td>
                </tr>
                <tr>
                    <td>수입여부</td>
                    <td>JAUNET PARIS S.A.S - 스타럭스</td>
                </tr>
                <tr>
                    <td>제조국</td>
                    <td>중국</td>
                </tr>
                <tr>
                    <td>치수</td>
                    <td>32mm</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--<%&#45;&#45;상품 상세 영역 끝&#45;&#45;%>-->
<!--<%&#45;&#45;&#45;&#45;%>-->
</body>
</html>