<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>$Title$</title>
  <link th:href="@{/css/login.css}" rel="stylesheet"/>
  <script
          type="text/javascript"
          th:src="@{/js/login.js}"
  ></script>
  <!--  navbar css/js 시작 -->
  <link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">
  <script src="../js/index.js" th:src="@{/js/index.js}"></script>
  <!--  navbar css/js 끝  -->
</head>
<body>
<!-- 탑 내비게이션바 -->
<div th:replace="top-navbar :: navbar"></div>
<!-- 탑 내비게이션바 끝 -->
<div class="navigator category-nav" id="category">
  <div class="home-container nav-item">
    <img class="home-icon" src="../static/img/home-icon.png" th:src="@{/img/home-icon.png}"/>
    <a href="/" class="home">홈</a>
  </div>
  <img class="arrow-right-icon" src="../static/img/noun-arrow-right.png" th:src="@{/img/noun-arrow-right.png}"/>
  <strong>로그인</strong>
</div>
<h1 class="tit_typeLogin">로그인</h1>

<div class="login-wrapper">

  <form action="/login" name="loginform" method="post" class="login-form" id="login-form" th:object="${loginVO}" modelAttribute="loginVO" >
    <input type="text" placeholder="아이디" id="loginId" class="loginId" value="아이디" name="user_id" th:field="*{user_id}"  >
    <span th:text="${valid_user_id}"></span>
    <input type="password" placeholder="비밀번호" id="loginPass" class="loginPass" value="비밀번호" name="user_pwd" th:field="*{user_pwd}">
    <span th:text="${valid_user_pwd}"></span>
    <input type="submit" value="로그인">
  </form>

  <div class="util_area">
    <a href="/join">회원가입 하기</a>
    <ul class="sub_search">
      <li class="idSearch">
        <a href="/idSearch">아이디찾기</a>
      </li>
      <li>
        <a href="/passSearch">비밀번호찾기</a>
      </li>
    </ul>
  </div>
</div>

</body>
</html>