<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 슬라이더 !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <!--체크박스 !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <!--가격 슬라이더 바!-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--셀렉트 박스 !-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="../css/middle-category.css" th:href="@{/css/middle-category.css}">
    <link rel="stylesheet" href="../css/feastSelect.css"  th:href="@{/css/feastSelect.css}">
    <!-- Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

    <!-- Required stuff -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <link rel="stylesheet" href="../css/tranquil-heart.min.css" th:href="@{/css/tranquil-heart.min.css}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <script src="../js/feastSelect.js" th:src="@{/js/feastSelect.js}"></script>

    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="../js/middle-category.js" th:src="@{/js/middle-category.js}"></script>
    <title>중분류 페이지</title>
</head>
<body class="mainscreen">
<br/>
<!-- 조건 창 !-->
<hr style="margin:0 auto;">
<div class="cateHeader-container">
    <!-- 카테고리 이름 !-->
    <input type="hidden" id="main_no" th:value="${main_no}">
    <input type="hidden" id="middle_no" th:value="${mid_cate_no}">

    <div class="category-name">
        <div class="home-container nav-item">
            <a href="/" class="home">
                <img class="home-icon" src="../img/home-icon.png" th:src="@{/img/home-icon.png}"/>홈
            </a>
        </div>
        <img class="arrow-right-icon" src="../img/noun-arrow-right.png" th:src="@{/img/noun-arrow-right.png}"/>
        <div class="form-group nav-item">
            <select id="main-selects" class="form-control example2 main-category" name="example-2">
                <option  th:each="mainVO : ${mainList}" th:value="${mainVO.main_no}" th:utext="${mainVO.main_name}">
                </option>
            </select>
        </div>
        <img class="arrow-right-icon" src="../img/noun-arrow-right.png" th:src="@{/img/noun-arrow-right.png}"/>
        <div class="form-group nav-item">
            <select id="middle-selects"class="form-control example2 middle-category" name="example-2">
                <option th:each="middleL : ${middleList}" th:value="${middleL.mid_cate_no}"
                        th:utext="${middleL.mid_name}"></option>
            </select>
        </div>
    </div>
    <!-- 카테고리 이름!-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        let mainname=[[${mainname}]];
        let mid_name=[[${mid_name}]];
        console.log(mainname);
        console.log(mid_name);
        $('.main-category').FeastSelect({
            btnText: mainname, // 선택한 분류 가져와서 지정
            btnClass: 'my-custtom-btn',
            hideOriginal: true
        });
        $('.middle-category').FeastSelect({
            btnText: mid_name   , // 선택한 분류 가져와서 지정
            btnClass: 'my-custtom-btn',
            hideOriginal: true
        });
        /*]]*/
    </script>
    <!--검색박스 !-->
    <div class="search">
        <form class="search-box"
              action="../../../../../../JavaWebProjects/SpringCloneTest/NoTax/src/main/webapp/WEB-INF/views"
              method="post">
            <input id="search" class="search-txt" type="text" placeholder="카테고리 내 상품검색">
            <button id="searchBTN" class="btn btn-outline-dark" type="button">찾기</button>
        </form>
    </div>
</div>
<div>
    <h1 style="text-align: center" th:text="${mid_name}">123</h1>
</div>
<!-- 소분류!-->
<div>
    <ul class="middle-sub-category">
        <li class="sub-category" th:each="subVO : ${subList}">
            <a th:href="@{/main-category/id={main_no}/middle-category/id={mid_cate_no}/sub-category/id={sub_no}/select/id=1(main_no=${subVO.main_no}, mid_cate_no=${subVO.mid_cate_no}, sub_no=${subVO.sub_no})}"  th:text="${subVO.sub_name}">메탈</a>
        </li>
    </ul>
</div>
<br/>
<hr>
<!-- 정렬 !-->
<div class="Sort-container">
    <div class="sort-value">
        <button id="orders1" value="pd_by_dfs_sale" class="btn btn-outline-dark">가격높은순</button>
        <button id="orders2" value="pd_views" class="btn btn-outline-dark">최신날짜</button>
        <button id="orders3" value="pd_name" class="btn btn-outline-dark">이름순서</button>
        <script th:inline="javascript">
            let mainnumber=[[${main_no}]];
            let middlenumber=[[${mid_cate_no}]];
            $('#orders1').click(function (){
                location.href = `/main-category/id=${mainnumber}/middle-category/id=${middlenumber}/select/id=7`
            });
            $('#orders2').click(function (){
                location.href = `/main-category/id=${mainnumber}/middle-category/id=${middlenumber}/select/id=5`
            })
            ;$('#orders3').click(function (){
                location.href = `/main-category/id=${mainnumber}/middle-category/id=${middlenumber}/select/id=1`
            });
        </script>
    </div>
</div>
<!-- 제품목록 !-->
<div class="values-container">
    <ol>
        <li class="values" th:each="middleVO : ${ProductByMiddle}">
            <a th:href="@{/detail/main-category/{main_no}/middle-category/{mid_cate_no}/product/{pd_no}(main_no=${middleVO.main_no}, mid_cate_no=${middleVO.mid_cate_no}, pd_no=${middleVO.pd_no})}">
                <div class="unit_img">
                    <img class="values-img" th:src="${middleVO.pdphoto_link}">
                </div>
                <div class="unit_info">
							<span class="brand">
									<i class="kor" th:text="${middleVO.brand_name}">brand_name</i>
							</span>
                    <br/>
                    <span class="name" th:text="${middleVO.pd_name}">EARRING CLASSIC 7mm</span>
                </div>

                <!-- 가격, 별점 -->
                <div class="unit_price">
                    <strong class="price02" th:text="${middleVO.pd_by_dfs_price}">$34</strong>
                    <span>$</span>
                </div>
            </a>
        </li>
    </ol>
</div>
</body>
</html>