<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/middle-category.css" th:href="@{/css/middle-category.css}">
    <!-- 슬라이더 !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <!--체크박스 !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <!--가격 슬라이더 바!-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--셀렉트 박스 !-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="../css/feastSelect.css"  th:href="@{/css/feastSelect.css}">
    <!-- Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

    <!-- Required stuff -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <link rel="stylesheet" href="../css/tranquil-heart.min.css" th:href="@{/js/tranquil-heart.min.css}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <script src="../js/feastSelect.js" th:src="@{/js/feastSelect.js}"></script>

    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="../js/middle-category.js" th:src="@{/js/middle-category.js}"></script>
    <title>중분류 페이지</title>
</head>
<body class="mainscreen">
<br/>
<!-- 조건 창 !-->
<hr style="margin:0 auto;">
<div class="cateHeader-container">
    <!-- 카테고리 이름 !-->
    <div class="category-name">
        <div class="home-container nav-item">
            <a href="/" class="home">
                <img class="home-icon" src="../img/home-icon.png" th:src="@{/img/home-icon.png}"/>홈
            </a>
        </div>
        <img class="arrow-right-icon" src="../img/noun-arrow-right.png" th:src="@{/img/noun-arrow-right.png}"/>
        <div class="form-group nav-item">
            <select class="form-control example2 main-category" name="example-2">
                <option th:each="mainVO : ${mainList}" th:value="${mainVO.main_no}"
                        th:utext="${mainVO.main_name}"></option>
            </select>
        </div>
        <img class="arrow-right-icon" src="../img/noun-arrow-right.png" th:src="@{/img/noun-arrow-right.png}"/>
        <div class="form-group nav-item">
            <select class="form-control example2 main-category" name="example-2">
                <option th:each="middleL : ${middleList}" th:value="${middleL.mid_cate_no}"
                        th:utext="${middleL.mid_name}"></option>
            </select>
        </div>
    </div>
    <!-- 카테고리 이름!-->
    <script type="text/javascript">
        $('.main-category').FeastSelect({
            btnText: '시계/주얼리', // 선택한 분류 가져와서 지정
            btnClass: 'my-custtom-btn',
            hideOriginal: true
        });
        $('.middle-category').FeastSelect({
            btnText: '남성시계', // 선택한 분류 가져와서 지정
            btnClass: 'my-custtom-btn',
            hideOriginal: true
        });
    </script>
    <!--검색박스 !-->
    <div class="search">
        <form class="search-box"
              action="../../../../../../JavaWebProjects/SpringCloneTest/NoTax/src/main/webapp/WEB-INF/views"
              method="post">
            <input class="search-txt" type="text" placeholder="카테고리 내 상품검색">
            <button class="btn btn-outline-dark" type="button">찾기</button>
        </form>
    </div>
</div>
<div>
    <h1 style="text-align: center"th:each="names:${name}" th:text="${names.mid_name}">123</h1>
</div>
<!-- 소분류!-->
<div>
    <ul class="middle-sub-category">
        <li class="sub-category" th:each="subVO : ${subList}">
            <a th:href="@{/main-category/id={main_no}/middle-category/id={mid_cate_no}/sub-category/id={sub_no}(main_no=${subVO.main_no}, mid_cate_no=${subVO.mid_cate_no}, sub_no=${subVO.sub_no})}"  th:text="${subVO.sub_name}">메탈</a>
        </li>
    </ul>
</div>
<br/>
<!-- 조건 선택 !-->
<div class="choosebax">
    <table class="select-box">
        <!-- 면세점 !-->
        <tr class="select-line">
            <td class="select-topic">면세점</td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>신라</label>
                    </div>
                </div>
            </td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>롯데</label>
                    </div>
                </div>
            </td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>어딘가</label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 소분류 !-->
        <tr class="select-line">
            <td class="select-topic">소분류</td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>메탈</label>
                    </div>
                </div>
            </td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>가죽</label>
                    </div>
                </div>
            </td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>세라믹/티타늄</label>
                    </div>
                </div>
            </td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>패브릭/플라스틱</label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 브랜드 !-->
        <tr class="select-line">
            <td class="select-topic">브랜드</td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>브랜드1</label>
                    </div>
                </div>
            </td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>브랜드2</label>
                    </div>
                </div>
            </td>
            <td class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>브랜드3</label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 가격 !-->
        <tr class="select-line">
            <td class="select-topic">가격</td>
            <td style="margin-left : 14px;">
                <input type="text" id="amount" readonly style="border:0; color:black; font-weight:bold;">
                <div id="slider-range"></div>
            </td>
        </tr>
        <!--가격 슬라이더 !-->
        <script>
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 500,
                    values: [75, 300],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    }
                });
                $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                    " - $" + $("#slider-range").slider("values", 1));
            });
        </script>
        <!-- 품질여부 !-->
        <tr class="select-line">
            <td class="select-topic">품절여부</td>
            <td colspan="2" class="select-item">
                <div class="pretty p-svg p-plain">
                    <input type="checkbox"/>
                    <div class="state">
                        <img class="svg" src="https://lokesh-coder.github.io/pretty-checkbox/svg/open-iconic/task.svg">
                        <label>품절제외</label>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br/>
</div>
<!--초기화 버튼 !-->
<div class="reset-container">
    <button class="btn btn-outline-dark" id="reset">초기화</button>
</div>
<hr>
<!-- 정렬 !-->
<div class="Sort-container">
    <span style="text-align: left">총개수 : 100</span>
    <div class="sort-value">
        <button class="btn btn-outline-dark">구매높은순</button>
        <button class="btn btn-outline-dark">조회수높은순</button>
        <button class="btn btn-outline-dark">가격낮은순</button>
    </div>
</div>
<!-- 제품목록 !-->
<div class="values-container">
    <ol>
        <li class="values" th:each="middleVO : ${ProductByMiddle}">
            <a th:href="@{/detail/{id}(id=${middleVO.pd_no})}">
                <span class="unit_no" th:text="${middleVO.rownum}">1</span>
                <div class="unit_img">
                    <img class="values-img" th:src="${middleVO.pdphoto_link}">
                </div>
                <div class="unit_info">
							<span class="brand">
									<i class="kor" th:text="${middleVO.brand_name}">brand_name</i>
							</span>
                    <br/>
                    <span class="name" th:text="${middleVO.pd_name}">EARRING CLASSIC 7mm</span>
                </div>

                <!-- 가격, 별점 -->
                <div class="unit_price">
                    <strong class="price02" th:text="${middleVO.pd_by_dfs_price}">$34</strong>
                    <span>$</span>
                </div>
            </a>
        </li>
    </ol>
</div>
</body>
</html>