<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">
</head>
<body >
<div th:fragment="navbar">
<div id="titlebar">
    <div id="topbar">
        <p id="exchange">오늘의 환율 $1=1,418.1원</p>
        <ul class="topul">
            <th:block th:if="!${session?.SS_userId}">
                <li><a href="/login">로그인</a></li>
                <li><a href="/join">회원가입</a></li>
            </th:block>
            <li th:if="${session?.SS_userId}" th:text="${session.SS_userId} + '님 환영합니다!'"></li>
            <li th:if="${session?.SS_userId}"><a href="/mypage">마이페이지</a></li>
            <li th:if="${session?.SS_userId}"><a href="/logout">로그아웃</a></li>
        </ul>
    </div>
</div>
<div id="logobar">
    <div class="logo">
        <img src="/img/mainlogo.png">
    </div>
    <div id="searchdiv">
        <input type="text" id="searchbox">
        <input type="button" id="search-btn">
    </div>
    <div id="logobarAd">
        <img src="/img/main1.jpg">
    </div>
</div>
<nav id="navbar">

    <div class="logo">
        <img src="/img/mainlogo.png">
    </div>

    <ul class="navul">
        <li class="navbtn"><a href="/#ranking">랭킹</a></li>
        <li class="navbtn"><a href="/#newproduct">신상품</a></li>
        <li class="navbtn"><a href="/#topsale">최고할인</a></li>
        <li class="navbtn"><a href="/#timesale">타임세일</a></li>
    </ul>
    <ul class="topul">
        <th:block th:if="!${session?.SS_userId}">
            <li><a href="/login">로그인</a></li>
            <li><a href="/join">회원가입</a></li>
        </th:block>
        <li th:if="${session?.SS_userId}" th:text="${session.SS_userId}"></li>
        <li th:if="${session?.SS_userId}"><a href="/logout">로그아웃</a></li>
    </ul>
</nav>
</div>
</body>
</html>