<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../js/tabscroll.js"></script>
  <link rel="stylesheet"  th:src="@{/css/mypage.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<article>
  <section data-tabscroll="one" style="">
    <div class="join-wrapper">

      <form name="joinform" id="join_form" method="post" action="#one">
        <div class="id_box">
          <label>아이디</label>
          <input type="text" id="id" name="id" value="${user_id}"/>
          <span></span>
        </div>


        <div class="pass_box">
          <label>비밀번호</label>
          <input type="password"/>
          <span></span>
        </div>


        <div class="passSearch_box">
          <label>비밀번호 재확인</label>
          <input type="password"/>
          <span></span>
        </div>


        <div class="name_box">
          <label>이름</label>
          <input type="text" id="name" value="${user_id}" readonly/>
          <div class="gender_select">
            <input type="radio" name="gender" id="man"/>
            <label for="man">남</label>
            <input type="radio" name="gender" id="woman"/>
            <label for="woman">여</label>
          </div>
        </div>

        <div class="bir_wrap">
          <label>생년월일</label>
          <input type="text">
        </div>
        <input type="submit" value="수정"/>

      </form>


    </div>
  </section>
</article>
</body>
</html>